<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Filmes</title>
</head>
<body>
    <h1>Cadastro de Filme</h1>
    <form method="post" action="">
        <label for="nome">Nome:</label>
        <input id="nome" name="nome" />
        <label for="duracao">Duração (em minutos):</label>
        <input id="duracao" name="duracao" />
        <label for="ano">Ano de Lançamento:</label>
        <input id="ano" name="ano" />
        <label for="genero">Gênero:</label>
        <input id="genero" name="genero" />
        <input type="submit" value="Cadastrar" />
    </form>
    
</body>
</html>